body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Adjust as needed */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}
main {
    flex: 1 0 auto;
    text-align: center;
}
footer {
    flex-shrink: 0;
}
.logo {
    width: 50px; /* Adjust as needed */
    height: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button {
    margin-top: 20px; /* Adjust as needed */
}
p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px; /* Adjust as needed */
}
#taskList tr {
    border-bottom: 1px solid #000; /* Adjust color as needed */
}
