/* style.css */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.logo {
    width: 50px;
    height: auto;
}

/* Main styles */
main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Form styles */
form {
    margin-top: 20px;
    width: 100%;
    max-width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error message styles */
.error {
    color: red;
    margin-top: 10px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
}
